@import url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard.css');

body {
    word-break: keep-all;
    font-family: 'Pretendard', sans-serif;
}

.roboto-mono {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }